.home {
  position: absolute;
  z-index: -1;
  top: 17vh;
  /* width: 90%; */
  /* left: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 92px;
  /* width: 84%; */
  /* height: 83vh; */
  border: 2px solid blue;
  background-color: #161616;
}

.home-active {
  left: 230px;
}

@media screen and (max-width: 668px) {
  .home {
    left: 0px;
    width: 100%;
  }

  .home h1 {
    font-size: 2.5rem;
  }
}

.home-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  /* height: 83vh; */
  /* overflow-y: scroll; */
}

@media screen and (max-width: 700px) {
  .home-container {
    justify-content: center;
  }
}

::-webkit-scrollbar {
  height: 100vh;
}
